In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [89]:
import warnings
warnings.filterwarnings("ignore")

In [90]:
df = pd.read_csv("D:/DATA_SCIENCE/DS_Machinelearning/new_cricket_data_svm.csv")
df.head()

  Result    Margin  Toss  Bat   Opposition     Ground   Start Date   Country
0    won   85 runs  lost  1st      v India    Kolkata   3 Jan 2013  Pakistan
1   lost   85 runs   won  2nd   v Pakistan    Kolkata   3 Jan 2013     India
2   lost   10 runs  lost  2nd      v India      Delhi   6 Jan 2013  Pakistan
3    won   10 runs   won  1st   v Pakistan      Delhi   6 Jan 2013     India
4   lost  107 runs  lost  2nd  v Australia  Melbourne  11 Jan 2013  SriLanka

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Result      1322 non-null   object
 1   Margin      1322 non-null   object
 2   Toss        1322 non-null   object
 3   Bat         1322 non-null   object
 4   Opposition  1322 non-null   object
 5   Ground      1322 non-null   object
 6   Start Date  1322 non-null   object
 7   Country     1322 non-null   object
dtypes: object(8)
memory usage: 82.8+ KB

In [92]:
df.drop(columns=['Start Date','Ground'],inplace=True)

In [93]:
df.head()

  Result    Margin  Toss  Bat   Opposition   Country
0    won   85 runs  lost  1st      v India  Pakistan
1   lost   85 runs   won  2nd   v Pakistan     India
2   lost   10 runs  lost  2nd      v India  Pakistan
3    won   10 runs   won  1st   v Pakistan     India
4   lost  107 runs  lost  2nd  v Australia  SriLanka

In [94]:
from sklearn.preprocessing import LabelEncoder

In [95]:
binary_cols = ["Result", "Toss", "Bat"]
encoder = LabelEncoder()
for col in binary_cols:
    df[col] = encoder.fit_transform(df[col])

In [96]:
df = pd.get_dummies(df, columns=["Opposition", "Country","Margin"], drop_first=True).astype(int)

In [97]:
df.head()

,Result,Toss,Bat,Opposition_v Australia,Opposition_v Bangladesh,Opposition_v England,Opposition_v Hong Kong,Opposition_v India,Opposition_v Ireland,Opposition_v Kenya,...,Margin_88 runs,Margin_9 runs,Margin_9 wickets,Margin_90 runs,Margin_91 runs,Margin_92 runs,Margin_93 runs,Margin_95 runs,Margin_96 runs,Margin_98 runs
0,6,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,1,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
X = df.drop(columns = ['Result'])
y = df["Result"]

In [100]:
X_train,X_test,y_train,y_test = train_test_split(X,y ,test_size=0.2,random_state=42)

In [101]:
from sklearn.svm import SVC

In [102]:
svc_model = SVC(kernel="linear")
svc_model.fit(X_train,y_train)

SVC(kernel='linear')

In [103]:
predict_y_train = svc_model.predict(X_train)
predict_y_test = svc_model.predict(X_test)

In [104]:
from sklearn.metrics import accuracy_score

In [105]:
accuracy_score(y_test,predict_y_test)

0.5433962264150943

In [106]:
svc_model = SVC(kernel="rbf")
svc_model.fit(X_train,y_train)
predict_y_train = svc_model.predict(X_train)
predict_y_test = svc_model.predict(X_test)
accuracy_score(y_test,predict_y_test)

0.6716981132075471

In [107]:
from sklearn.preprocessing import StandardScaler

In [108]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [109]:
svm_scaled = SVC(kernel="linear")
svm_scaled.fit(X_train_scaled, y_train)
y_pred_scaled = svm_scaled.predict(X_test_scaled)

In [110]:
accuracy_score(y_test, y_pred_scaled)

0.5169811320754717

In [111]:
svc_model = SVC(kernel="poly")
svc_model.fit(X_train,y_train)
predict_y_train = svc_model.predict(X_train)
predict_y_test = svc_model.predict(X_test)
accuracy_score(y_test,predict_y_test)

0.7018867924528301